.titulo {
    width: 80%;
    margin: 5px auto;
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 40px;
    border-bottom: solid rgb(0, 0, 0);
}