{{envairContadorMonedas(monedasEncontradas)}}
<div class="contenedorPrincipal">


    <div *ngFor="let moneda of listaMonedas |coleccion:numeroColeecion |estado:filtroEstado |buscar:busquedaAgno" class="card" style="width: 17rem;" id="cartaMoneda">
        <div class="card-header" id="cabezera">
            <p class="card-text" id="monedaNumero">#{{moneda.monedaNumero}}</p>
            {{moneda.nombre}}
        </div>
        <img class="card-img-top" src={{moneda.imagen}} id="imagen">
        <div class="card-body">
            <h3 id="agnooneda">{{moneda.agno}}</h3>


            <div id="monedaMonedaBoton" (click)="actualizaEstadoMoneda(moneda)">
                <div *ngIf="moneda.encontrada; else monedaNoEncontrada" style="background-color: rgb(51, 134, 30);">
                    Encontrada
                </div>
                <ng-template #monedaNoEncontrada>
                    <div style="background-color: rgb(218, 25, 25);">
                        No encontrada
                    </div>
                </ng-template>
            </div>






        </div>
    </div>




</div>